<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyrie.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kyrie.pojo.Order">
        <id column="order_id" property="orderId" />
        <result column="order_money" property="orderMoney" />
        <result column="order_num" property="orderNum" />
        <result column="product_id" property="productId" />
        <result column="country_id" property="countryId" />
        <result column="date" property="date" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, order_money, order_num, product_id, country_id, date
    </sql>

</mapper>
